
/* Global */
.all-pages__section {
    width: 60%;
    margin: 60px auto;
}
.button {
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
    background-color: purple;
    margin-bottom: 10px;
}
.button:hover {
    background-color: violet;
}
.display-none {
    display: none;
}
.text-align-center {
    text-align: center;
}
/* Specific */
.highscores-time__e {
    position: absolute;
    top: 0;
    margin-top: 0;
    color: gray;
}
.highscores__a {
    text-decoration: none;
}
.score__p {
    left: 50%;
    margin-left: -20px;
}
.score__span, .time__span {
    color: black;
}
.score__span {
    left: 50%;
    margin-left: 24px;
}
.time__p {
    right: 0;
    margin-right: 10px;
}
.time__span {
    color: black;
}
.answer-message {
    color: cadetblue;
    font-style: italic;
}
/* Main Page */
.start-quiz__section {
    text-align: center;
}